<div class="card mt-4">
    <div class="card-header text-center">
        <strong>İşlem Özeti</strong>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Rent Date</th>
                    <th>Return Date</th>
                    <th>Brand</th>
                    <th>Color</th>
                    <th>Model</th>
                    <th>Daily Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{rental.rentDate}}</td>
                    <td>{{rental.returnDate}}</td>
                    <td>{{rental.brandName}}</td>
                    <td>{{rental.colorName}}</td>
                    <td>{{rental.modelYear}}</td>
                    <td>{{rental.dailyPrice | currency: "₺" }}</td>
                    <td><strong>
                        {{paymentAmount | currency: "₺" }}
                    </strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card-mt-4">
    <div class="card-header text-center">
        <strong>Payment</strong>
    </div>
    
    <div class="card-body">
        <div class="row">
            <div class="inputbox mt-3">
                <span>Name On The Card</span>
                <input [(ngModel)]="nameOnTheCard"
                type="text" name="name" class="form-control"
                required="required">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="inputbox mt-3 mr-2">
                        <span>Card Number</span>
                        <input [(ngModel)]="cardNumber"
                        type="text" name="name" class="form-control"
                        required="required">
                        <i class="fa fa-credit-card"></i>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex flex-row">
                        <div class="inputbox mt-3 mr-2">
                            <span>Expiration Date</span>
                            <input [(ngModel)]="expirationDate"
                            type="text" name="name" class="form-control"
                            required="required">
                        </div>
                        <div class="inputbox mt-3 mr-2">
                            <span>Cvv</span>
                            <input [(ngModel)]="cardCvv"
                            type="text" name="name" class="form-control"
                            required="required">
                        </div>
                    </div>
                </div>
                <div class="check">
                    <div class="form-check form-switch">
                        <input [(ngModel)]="isChecked" class="form-check-input" type="checkbox" id="isChecked" checked>
                        <label class="form-check-label" for="isChecked">Save the Card</label>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <button (click)="rentACar()" class="btn btn-success">
                <strong>{{paymentAmount | currency: "₺"}}</strong> 
                Pay
            </button>
   
        </div>
    </div>
    
  <div class="row">
    <div class="col">
       <table class="table" >
         <tbody>
           <thead>Saved Card</thead>
           <tr>
             <th>Card No</th>
             <th>Card Name</th>
             <th>Expiration Date</th>
             <th>CVV </th>
             <th></th>

            </tr>
           <tr  >
             <td>{{savedCard.cardNumber}}</td>
             <td>{{savedCard.nameOnTheCard}}</td>
             <td>{{savedCard.expirationDate}}</td>
             <td>{{savedCard.cardCvv}}</td>
             <td (click)="setCurrentCard()"><button class="btn btn-info">Choose</button></td>
            </tr>
         </tbody>
       </table>
    </div>
  </div>
</div>