<div class="content my-5 mx-5">
    <h3>Add Brand</h3>
    <div class="col-md-12">
        <form [formGroup]="brandAddForm">
            <div class="form-group">
              <input type="text"
               id="brandName" 
               class="form-control"
              formControlName="brandName"
              placeholder="Brand Name"> 
            </div>
            <button (click)="add()" class="btn btn-fill btn-outline-primary">
                Add
            </button>
        </form>
    </div>

</div>