
       <div class="mb-3">
        <label for="filterText" class="form-label">Search With BrandName</label>
        <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Brand">
      </div>
   <div class="row" >


    <div *ngFor="let car of cars |brandFilter:filterText  " class="card mb-4 mr-4 mt-3" style="width: 15rem;">
      <img src="https://localhost:44303/uploads/{{car.imagePath}}" class="card-img-top"   alt="...">
      <div  class="card-body">
        <h5 class="card-title">{{car.description}}</h5>
      </div >
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Id {{car.id}}</li>
        <li class="list-group-item">Marka: {{car.brandName}}</li>
        <li class="list-group-item">Renk: {{car.colorName}} </li>
        <li class="list-group-item">Fiyat: {{car.dailyPrice}} TL</li>
      </ul>
      <div class="card-body">
        <button routerLink="/cars/car-detail/{{car.id}}" type="button" class="btn btn-light">Detaylar</button>
      </div>
    </div>
  </div>